# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# Backend Database
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# OpenAI
OPENAI_API_KEY=

# Application
APP_FRONTEND_URL=http://localhost:3000